vti_encoding:SR|utf8-nl
vti_author:SR|SERVER76\\fpcs
vti_timelastmodified:TR|25 Jul 2005 19:29:18 -0000
vti_timecreated:TR|24 Feb 2004 00:18:57 -0000
vti_extenderversion:SR|5.0.2.5012
vti_lineageid:SR|{462B023E-0091-4392-B050-BAE9983E3665}
vti_backlinkinfo:VX|forms/Lottery/finished.htm forms/Lottery/lotteryStudent.asp forms/Lottery/lotteryMain.asp forms/Lottery/lotteryStart.asp
vti_nexttolasttimemodified:TW|25 Jul 2005 18:37:38 -0000
vti_modifiedby:SR|SERVER76\\sbacon
vti_cacheddtm:TX|25 Jul 2005 18:37:38 -0000
vti_filesize:IR|14425
